body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 33, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card{  
    background-color: rgb(7, 41, 53);
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 20px 20px rgb(7, 41, 53);
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}
#photo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
   object-fit: cover;
   border: 5px solid rgb(34, 104, 104);
}
.name_bio .name{
    font-size: 30px;
    color: rgb(179, 172, 172); 
}
.name_bio .bio{
    font-size: 16px;
    color: rgb(179, 172, 172);
}
.skills{
    background-color: rgb(6, 33, 43);
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.skills h2{
    font-size: 14px;
    color: rgb(179, 172, 172);
    text-align: left;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 10px;
}
.skills li{
    background-color: rgb(27, 45, 52);
    font-size: 15px;
    border-radius: 4px;
    color: rgb(203, 201, 201);
}
.social{
    background-color: rgb(6, 33, 43);
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 5px;
}
.social ul{
    display: flex;
    padding: 0;
    gap: 20px;
   justify-content: center;
   align-items: center;
}
.social ul i{
    color: white;
    font-size: 20px;
}