body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 56, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

