body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 56, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card{
    background-color: rgb(1, 52, 70);
    width: 350px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 20px 20px rgb(5, 48, 64);
}